<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/mas1606/image/upload/v1622303784/paousozkn8sqcdaitna8.jpg);">
  <div class="container">
    <h1><strong>Lists Home page </strong></h1>
    <p>Create your favorite movies list</p>
  </div>
  <br>
</div>
<br>

<div class="row">
<% @lists.each do |list| %>
    <div class="cards col-sm-3">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path list.photo.key if list.photo.attached? %>);">
        <%= list.name %>
      </div>
     <p style="text-align:right">
        <%= link_to list_path(list) do%>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to edit_list_path(list) do %>
          <i class="fas fa-edit"></i>
        <% end %>
        <%= link_to list, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </p>
    </div>
<% end %>
</div>