

<p style="text-align:center"><%= cl_image_tag @list.photo.key, width: 70, crop: :fill if @list.photo.attached?%> <%= @list.name %> <%= cl_image_tag @list.photo.key, width: 70, crop: :fill if @list.photo.attached?%></p>
<div class = "row h6 small">
  <% @list.bookmarks.each do |bookmark| %>
    <div class = "col-3 border border-primary"> 
      <p">Title: <%= bookmark.movie.title %></p> 
      <p style="text-align:center"><%=image_tag bookmark.movie.poster_url, width: 150 %></p> 
      <p> Rating: <%= bookmark.movie.rating %></p>
      <p><div class="border">
        Comment: <%= bookmark.comment %>
      </div></p>
      <p style="text-align:right">
        <%= link_to bookmark_path(bookmark), method: :delete, data: { confirm: 'are you sure??'} do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </p>
    </div>
  <% end %>
</div>
<%#= link_to 'Add a new bookmark', new_list_bookmark_path(@list)  %>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <div class="form-inputs">
    <%= f.association :movie, collection: Movie.all %>
    <%= f.input :comment %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<p><%= link_to 'Back', root_path %></p>